In [185]:
import pandas as pd
import numpy as np
import ast 
from datetime import datetime

In [186]:
path_movies=(r"C:\Users\gaston\Documents\estudio\material henry compartido\Proyecto integrador\movies_dataset.csv") # path del archivo movies
# lee el csv movies con pandas
df_movies=pd.read_csv(path_movies, encoding="utf-8")
df_movies.head()

C:\Users\gaston\AppData\Local\Temp\ipykernel_21868\1428576990.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies=pd.read_csv(path_movies, encoding="utf-8")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [187]:

path_credits=r"C:\Users\gaston\Documents\estudio\material henry compartido\Proyecto integrador\credits.csv" # path del archivo credits
# Lee el CSV  credits con pandas
df_credits=pd.read_csv(path_credits,encoding="utf-8")
df_credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

### FUNCIONES PARA LA DESANIDAR LOS DATOS(NAMES) QUE SE EN ENCUENTRAN EN DATASET DE MOVIES

In [188]:
#funcion para desanidar los datos que se encuentran en forma de diccionario

def explode_dict(value,key): # Asignamos las variables: 'value' seria el valor de la columna y 'key' la clave que queremos extrer
    if pd.isna(value):
        return np.nan
    try:
        dicc = ast.literal_eval(value)  # Convertimos el valor string en un diccionario
        if isinstance(dicc, dict):
            return dicc.get(key, np.nan)  # Extraemos únicamente el valor asociado a la clave 'key'
        else:
            return np.nan
    except (ValueError, SyntaxError):
        return np.nan

In [189]:
#  funcion para datos anidados con listas de diccionarios 
def explode_list(value, key):
    if pd.isna(value):
        return np.nan
    try:
        lis = ast.literal_eval(value)
        if isinstance(lis, list): 
            names = [item.get(key) for item in lis if isinstance(item, dict)]
            return ', '.join(names) if names else np.nan  # Esto devuelve una cadena con los valores separados por comas
        else:
            return np.nan
    except (ValueError, SyntaxError):
        return np.nan

### FUNCIONES PARA LA DESANIDAR LOS DATOS QUE SERAN UTILIZADOS EN EL ENDPOINT_1 Y ENDPOINT_2

In [190]:
#funcion para extraer nombres de actores
def extract_actors(columna):
    try:
        cast = ast.literal_eval(columna)
    except (ValueError, SyntaxError):
        return []
    
    return [actor.get('name') for actor in cast]

In [191]:
#función para extraer los directores 
def extract_directors(crew_list):
    if isinstance(crew_list, str):
        crew_list = ast.literal_eval(crew_list)
    
    directores = [d['name'] for d in crew_list if d.get('job') == 'Director']
    return directores[0] if directores else None

In [192]:
"""def explode_list_2(value, keys):
    try:
        lis = ast.literal_eval(value) if isinstance(value, str) else value  # Convierte cadenas en listas/diccionarios
        if not isinstance(lis, list):  
            return np.nan  # Si no es una lista, retorna NaN
        
        extracted_values = []
        for item in lis:
            if isinstance(item, dict):
                extracted_values.append(tuple(item.get(int(key), item.get(str(key), np.nan)) for key in keys))
        
        return extracted_values if extracted_values else np.nan
    except (ValueError, SyntaxError, TypeError):  
        return np.nan """

'def explode_list_2(value, keys):\n    try:\n        lis = ast.literal_eval(value) if isinstance(value, str) else value  # Convierte cadenas en listas/diccionarios\n        if not isinstance(lis, list):  \n            return np.nan  # Si no es una lista, retorna NaN\n        \n        extracted_values = []\n        for item in lis:\n            if isinstance(item, dict):\n                extracted_values.append(tuple(item.get(int(key), item.get(str(key), np.nan)) for key in keys))\n        \n        return extracted_values if extracted_values else np.nan\n    except (ValueError, SyntaxError, TypeError):  \n        return np.nan '

In [193]:

print(df_credits["crew"].isna().sum())#valores nulos de crew
print(df_credits["cast"].isna().sum()) #valores nulos de cast

df_credits = df_credits.dropna(subset=["crew", "cast", "id"], how="any")
for fila in df_credits.index:  
    if df_credits.loc[fila, ["crew", "cast", "id"]].isnull().any():  # elimina la fila si existe algun valor nulo
        df_credits.drop(index=fila, inplace=True)

print(df_credits["crew"].isna().sum())#valores nulos de crew luego de aplicar la funcion
print(df_credits["cast"].isna().sum())#valores nulos de cast luego de aplicar la funcion

0
0
0
0

### DESANIDACION DE LOS DATOS

In [194]:
# Aplicamos la funcion para extraer los 'name' o nombres que hacen referencia al dato mas importante y luego se elimina la columna

keys_cast=["cast_id","character","credit_id","gender","id","name","order","profile_path"]
keys_crew=["credit_id","department","gender","id","job","name","profile_path","department","job","name","profile_path"]

key="name"

df_movies["belong_to_collection"]=df_movies["belongs_to_collection"].apply(explode_dict,key="name")

df_movies["genres"] = df_movies["genres"].apply(explode_list, key=key)

df_movies["countries"] = df_movies["production_countries"].apply(explode_list, key=key)

df_movies["companies"] = df_movies["production_companies"].apply(explode_list, key=key)

df_movies["languages"] = df_movies["spoken_languages"].apply(explode_list, key=key)

df_credits["actors"]=df_credits["cast"].apply(extract_actors)

df_credits["director"]=df_credits["crew"].apply(extract_directors)






# eleiminamos la informacion que no utilizaremos, tanto en credits como en movies

df_movies=df_movies.drop(columns=["production_companies","production_countries","spoken_languages"]) #columnas que ya han sido desanidadas 

df_credits=df_credits.drop(columns=["crew","cast"]) #columnas que ya han sido desanidadas(name:actors and director)

#Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,poster_path y homepage.

df_movies = df_movies.drop(columns=["video", "imdb_id","adult","original_title","poster_path","homepage"])

In [195]:
#Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0.

print(df_movies["revenue"].isnull().sum())#cantidad de valores nulos
if df_movies["revenue"].isna().sum()>=1:
    df_movies["revenue"]=df_movies["revenue"].fillna(0) #valores nulos se completan con 0
print(df_movies["revenue"].isnull().sum())


print(df_movies["budget"].isnull().sum())#cantidad de valores nulos
if df_movies["budget"].isna().sum()>=1:
    df_movies["budget"]=df_movies["budget"].fillna(0)#valores nulos se completan con 0
print(df_movies["budget"].isnull().sum())

6
0
0
0

In [196]:
#Los valores nulos del campo release date deben eliminarse.
print(df_movies["release_date"].isnull().sum())
if(df_movies["release_date"].isnull().sum()>=1):
   df_movies= df_movies.dropna(subset=['release_date'])
print("\nDespués de eliminar valores nulos:")
print(df_movies["release_date"].isnull().sum())

87

Después de eliminar valores nulos:
0

In [197]:
def formatoFecha(df):
    valor=False
    dfN=pd.DataFrame()
    dfN_mes=pd.DataFrame()
    dfN[["DD", "MM","AAAA"]] = df.str.split("-""/", expand=True)#Para ver el formato DD-MM o MM-DD

    dfN_mes=dfN[["MM"]].dropna() #eliminar valores nulos

    dfN_mes= dfN_mes.astype(int)#Convertir a int
   #Filtrar donde DD > 12
        
    if ([dfN_mes < 12]):
        valor=True
    return(valor)

In [198]:
# se verifica que columnas contiene fecheas
# se verifica formato de fecha 
regex_fecha1=r"^\d{4}-\d{2}-\d{2}$"
regex_fecha2=r"^\d{2}-\d{2}-\d{4}$"


for columna in df_movies.columns: # Recorrer todas las columnas
    if df_movies[columna].astype(str).str.match(regex_fecha1).any():
        print(f"La columna '{columna}' contiene fechas de formato AAAA-MM-DD.")#formato correcto
        print(df_movies[columna].astype(str).str.match(regex_fecha1).sum())
        formato=1
    elif(df_movies[columna].astype(str).str.match(regex_fecha2).any()):
        print(f"La columna '{columna}' contiene fechas de formato DD-MM-AAAA o MM-DD-AAA.") #puede tener dos formatos
        print(df_movies[columna].astype(str).str.match(regex_fecha2).sum())
        formato=2

#la columna que contiene fecha es la release_date

if(formato==2)and(True==formatoFecha(df_movies["release_date"])):#DD-MM-AAAA
    print("DD-MM-AAAA")

La columna 'id' contiene fechas de formato AAAA-MM-DD.
3
La columna 'release_date' contiene fechas de formato AAAA-MM-DD.
45376

In [199]:
regex_fecha = r"^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$"

#  Reemplazar valores nulos o incorrectos con "00-00-0000"
df_año= df_movies["release_date"].apply(lambda x: x if pd.notna(x) and pd.Series(x).str.match(regex_fecha).any() else "0000-00-00")

# Mostrar resultado
df_año= df_año.str.slice(0, 4)#obtengo el año formato string 
df_movies["release_year"] =df_año
df_movies["release_year"]

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
45460    1991
45462    2011
45463    2003
45464    1917
45465    2017
Name: release_year, Length: 45379, dtype: object

In [200]:
#Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, 
# cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.

df_movies["revenue"] = df_movies["revenue"].apply(pd.to_numeric, errors='coerce').fillna(0) #completa los valores no numericos con 0
df_movies["budget"] = df_movies["budget"].apply(pd.to_numeric, errors='coerce').fillna(0) #completa los valores no numericos con 0

df_movies["return"]= df_movies.apply(
    lambda row: row["revenue"] / row["budget"] if row["budget"]>0 and row["revenue"]>0 else 0,axis=1
)
df_movies["return"]

0        12.451801
1         4.043035
2         0.000000
3         5.090760
4         0.000000
           ...
45460     0.000000
45462     0.000000
45463     0.000000
45464     0.000000
45465     0.000000
Name: return, Length: 45379, dtype: float64

In [201]:
# Para analizar posteriormente los datos convertimos los formatos de estas columnas   
df_movies["popularity"] = df_movies["popularity"].apply(pd.to_numeric, errors='coerce').fillna(0) #pasamos a float los valores, de no ser posible se completan con 0
df_movies["release_date"]=df_movies["release_date"].apply(pd.to_datetime,errors='coerce')#pasamos a formato datetime las fechas que se encuentrar en formato de cadena

In [202]:
df_movies["budget"]

0        30000000.0
1        65000000.0
2               0.0
3        16000000.0
4               0.0
            ...
45460           0.0
45462           0.0
45463           0.0
45464           0.0
45465           0.0
Name: budget, Length: 45379, dtype: float64

In [203]:
# Convertimos 'id' a numérico, forzando errores a NaN
df_movies["id"] = pd.to_numeric(df_movies["id"], errors="coerce")
df_credits["id"] = pd.to_numeric(df_credits["id"], errors="coerce")

# Eliminamos las filas donde 'id' es NaN (valores no convertibles)
df_movies = df_movies.dropna(subset=["id"])
df_credits = df_credits.dropna(subset=["id"])

# Convertimos 'id' a int64
df_movies["id"] = df_movies["id"].astype(int)
df_credits["id"] = df_credits["id"].astype(int)

# Ahora realizamos el merge
df = pd.merge(df_movies, df_credits, on="id", how="inner")

print(df.columns)
print(df.size)

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'release_date', 'revenue', 'runtime',
       'status', 'tagline', 'title', 'vote_average', 'vote_count',
       'belong_to_collection', 'countries', 'companies', 'languages',
       'release_year', 'return', 'actors', 'director'],
      dtype='object')
1045373

# ENDPOINT_1

In [204]:
# Generamos una nueva columna con el mes de lanzamiento
df_movies['release_month'] = (df_movies['release_date']).dt.month
# Hacemos un nuevo dataset solamente con las columnas que necesitaremos para el endpoint 1
df_endpoint1 = df_movies[['title','release_month']]
# Remplazamos los valores del mes en numeros por el nombre del mes para luego resulte mas sencilla la funcion 
df_endpoint1['release_month'] = df_endpoint1['release_month'].replace({1:'enero',2:'febrero', 3:'marzo', 4:'abril', 5:'mayo', 6:'junio', 7:'julio', 8:'agosto', 9:'septiembre', 10:'octubre', 11:'noviembre', 12:'diciembre'})

C:\Users\gaston\AppData\Local\Temp\ipykernel_21868\1928382984.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_endpoint1['release_month'] = df_endpoint1['release_month'].replace({1:'enero',2:'febrero', 3:'marzo', 4:'abril', 5:'mayo', 6:'junio', 7:'julio', 8:'agosto', 9:'septiembre', 10:'octubre', 11:'noviembre', 12:'diciembre'})

In [205]:
# Hacemos la funcion que buscara todas las filmaciones que fueron lanzadas en el mes introducido 
def cantidad_filmaciones_mes1(mes:str):
    filmaciones = df_endpoint1['title'][df_endpoint1['release_month'] == mes]
    cantidad = filmaciones.count()
    return f'{cantidad} películas fueron estrenadas en el mes de {mes}'
# Y finalmente probamos la funcion
cantidad_filmaciones_mes1('enero')

'5912 películas fueron estrenadas en el mes de enero'

# ENDPOINT_2

In [206]:
# Generamos una nueva columna pero esta vez colocamos el dia en lugar del mes
df_movies['release_day'] = df_movies['release_date'].dt.day_name()
# Remplazamos los dias de la semana que estan en ingles por su equivalente en español
df_movies['release_day'] = df_movies['release_day'].replace({
    'Monday': 'lunes', 'Tuesday': 'martes', 'Wednesday': 'miércoles',
    'Thursday': 'jueves', 'Friday': 'viernes', 'Saturday': 'sábado', 'Sunday': 'domingo'
})
# Hacemos un dataframe orientado al uso del endpoint 2
df_endpoint2 = df_movies[['title', 'release_day']]
# Creamos la funcion que consiste en devolver la cantidad de peliculas estrenadas en el dia ingresado
def cantidad_filmaciones_dia(dia:str):
    filmaciones = df_endpoint2['title'][df_endpoint2['release_day'] == dia]
    cantidad = filmaciones.count()
    return f'{cantidad} películas fueron estrenadas en el dia {dia}'
# Probamos dicha funcion
cantidad_filmaciones_dia('lunes')

'3503 películas fueron estrenadas en el dia lunes'

# ENDPOINT_3

In [207]:
# Generamos el dataframe para usar en el endpoint 3
df_endpoint3 = df_movies[['title','popularity','release_year']]
# Generamos la funcion que busca la pelicula en el dataframe y recopila los datos solicitados
def score_titulo(titulo_de_la_filmacion:str):
    film = df_endpoint3[df_endpoint3['title'] == titulo_de_la_filmacion]
    title = film['title'].values[0]
    year = film['release_year'].values[0]
    score = film['popularity'].values[0]
    return f'La película {title} fue estrenada en el año {int(year)} con un score/popularidad de {score}'
# Probamos la funcion
score_titulo('Jumanji')

'La película Jumanji fue estrenada en el año 1995 con un score/popularidad de 17.015539'

# ENDPOINT_4

In [208]:
# Armamos el dataframe para este endpoint
df_endpoint4 = df_movies[['title','release_year','vote_average','vote_count']]
# Hacemos una funcion parecida al endpoint 3 y recopila informacion sobre los votos y otras caracteristicas de la pelicula
def votos_titulo(titulo_de_la_filmacion:str):
    film = df_endpoint4[df_endpoint4['title'] == titulo_de_la_filmacion]
    valoraciones = film['vote_count'].values[0]
    promedio = film['vote_average'].values[0]
    año = film['release_year'].values[0]
    titulo = film['title'].values[0]
    if valoraciones < 2000:
        return 'no cumple con la cantidad de valoraciones minimas'
    else:
        return f'La película {titulo} fue estrenada en el año {int(año)}. La misma cuenta con un total de {valoraciones} valoraciones, con un promedio de {promedio}'
# Nos fijamos si funciona correctamente
votos_titulo('Jumanji')

'La película Jumanji fue estrenada en el año 1995. La misma cuenta con un total de 2413.0 valoraciones, con un promedio de 6.9'

# ENDPOINT 5

In [209]:
# Creamos el dataframe para su uso en el endpoint 5
df_endpoint5 = df[['title', 'actors', 'return']]
# Generamos la funcion donde se filtra las peliculas que contienen el nombre del actor en la lista de actores del df
def get_actor(nombre:str):
    peliculas = df_endpoint5[df_endpoint5['actors'].apply(lambda actors: nombre in actors)] # Aca el filtro de peliculas con el actor mencionado
    pelis = peliculas['title'].tolist()
    retorno = peliculas['return'].tolist()
    cantidad = len(pelis)
    ganancia = sum(retorno)
    promedio = ganancia/cantidad
    return print(f'El actor {nombre} ha participado en {cantidad} filmaciones, el mismo ha conseguido un retorno de {round(ganancia,3)} millones con un promedio de {round(promedio,3)} millones por filmación')
    
# Probamos la funcion creada
get_actor('Adam Sandler')

El actor Adam Sandler ha participado en 47 filmaciones, el mismo ha conseguido un retorno de 86.89 millones con un promedio de 1.849 millones por filmación

# ENDPOINT_6

In [210]:
# Ultimo dataframe para su uso en el endpoint 6
df_endpoint6 = df[['title', 'return','director','release_date','budget','revenue']]
# Esta funcion es mas sencilla que get_actor debido a que en la columna directores solo hay un solo nombre
def get_director(nombre:str):
    peliculas_director = df_endpoint6[df_endpoint6['director'] == nombre]
    if peliculas_director.empty:
        return f"No se encontraron películas para el director: {nombre}"
    retorno_total = peliculas_director['return'].sum()
    informacion_peliculas = peliculas_director[['title', 'release_date', 'return', 'budget', 'revenue']]
    return {
        'nombre_director': nombre,
        'retorno_total': retorno_total,
        'informacion_peliculas': informacion_peliculas
    }
# Finalmente probamos la funcion
get_director('Christopher Nolan')

{'nombre_director': 'Christopher Nolan',
 'retorno_total': np.float64(44.42255888764903),
 'informacion_peliculas':                        title release_date    return       budget       revenue
 2468               Following   1998-09-12  8.080333       6000.0  4.848200e+04
 4100                 Memento   2000-10-11  4.413677    9000000.0  3.972310e+07
 5258                Insomnia   2002-05-24  2.472062   46000000.0  1.137148e+08
 10133          Batman Begins   2005-06-10  2.494791  150000000.0  3.742187e+08
 11368           The Prestige   2006-10-19  2.741908   40000000.0  1.096763e+08
 12496        The Dark Knight   2008-07-16  5.430046  185000000.0  1.004558e+09
 15503              Inception   2010-07-14  5.159580  160000000.0  8.255328e+08
 18276  The Dark Knight Rises   2012-07-16  4.339756  250000000.0  1.084939e+09
 22896           Interstellar   2014-11-05  4.091636  165000000.0  6.751200e+08
 25927              Doodlebug   1997-01-01  0.000000          0.0  0.000000e+00
 25928              Doodlebug   1997-01-01  0.000000          0.0  0.000000e+00
 44668                Dunkirk   2017-07-19  5.198769  100000000.0  5.198769e+08}

In [211]:
df.to_csv('df_EDA')# creamos archivo csv con el dataframe trabajado para poder hacer el EDA en otro archivo

### Sistema de recomendacion

In [212]:
#librerias
import pandas as pd
import nltk
nltk.download('stopwords')
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors
from rake_nltk import Rake

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\gaston/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [213]:
import nltk
nltk.download('punkt')
import nltk
nltk.data.path.append('C:/Users/gaston/nltk_data')
nltk.download('punkt', download_dir='C:/Users/gaston/nltk_data')

nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to C:\Users\gaston/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt to C:/Users/gaston/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\gaston/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [214]:
# Armamos el dataframe con las columnas necesarias para hacer un sistema de recomendacion con NearestNeighbors
df_reco = df[['title','overview','genres']]

# Reemplazamos valores nulos en 'title', 'overview' y 'generos' con una cadena vacía para que no haya conflictos a la hora de procesar y extraer info
df_reco['title'] = df_reco['title'].fillna('')
df_reco['overview'] = df_reco['overview'].fillna('')
df_reco['genres'] = df_reco['genres'].fillna('')

# Inicializamos el extractor RAKE para insertarla en la siguiente funcion
rake = Rake()

# Creamos la funcion para extraer palabras clave que vamos a aplicar a una de las columnas
def extract_keywords(text):
    rake.extract_keywords_from_text(text)
    return ' '.join(rake.get_ranked_phrases())

# Aplicamos la funcion de extracción de palabras clave a la columna 'overview'
df_reco['keywords'] = df_reco['overview'].apply(extract_keywords)

# Creamos una nueva columna combinando 'title', 'generos' y 'keywords' para tener toda la info necesaria para una buen sistema de recomendacion
df_reco['combined_text'] = df_reco['genres'] + ' ' + df_reco['keywords']

# Aplicamos una vectorizacion con TfidfVectorizer sobre el texto combinado anteriormente
vect = TfidfVectorizer(stop_words='english', max_features=5000)  # Podemos ajustar 'max_features' para limitar la cantidad de palabras
vect_matrix = vect.fit_transform(df_reco['combined_text'])

# Usamos NearestNeighbors con los parametros elegidos y entrenamos el modelo
nn_model = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=6)
nn_model.fit(vect_matrix)

# Hacemos la función de recomendación
def recomendacion(titulo):
    if titulo not in df_reco['title'].values:
        return f"No se encontró la película: {titulo}"

    idx = df_reco[df_reco['title'] == titulo].index[0] # Aca se obtiene el indice de la pelicula ingresada

    distances, indices = nn_model.kneighbors(vect_matrix[idx], n_neighbors=6) # El modelo busca y devuelve los indices de las peliculas similares

    similar_titles = df_reco['title'].iloc[indices[0][1:]]  # Excluimos nuestra pelicula y devolvemos hasta 5 resultados
    
    return similar_titles.tolist()

C:\Users\gaston\AppData\Local\Temp\ipykernel_21868\251848223.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reco['title'] = df_reco['title'].fillna('')
C:\Users\gaston\AppData\Local\Temp\ipykernel_21868\251848223.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reco['overview'] = df_reco['overview'].fillna('')
C:\Users\gaston\AppData\Local\Temp\ipykernel_21868\251848223.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reco['genres'] = df_reco['genres'].fillna('')

C:\Users\gaston\AppData\Local\Temp\ipykernel_21868\251848223.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reco['keywords'] = df_reco['overview'].apply(extract_keywords)
C:\Users\gaston\AppData\Local\Temp\ipykernel_21868\251848223.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reco['combined_text'] = df_reco['genres'] + ' ' + df_reco['keywords']

In [215]:
# Guardamos los df de cada endpoint y del sistema de recomendacion en formato parquet
df_endpoint1.to_parquet('end1.parquet')
df_endpoint2.to_parquet('end2.parquet')
df_endpoint3.to_parquet('end3.parquet')
df_endpoint4.to_parquet('end4.parquet')
df_endpoint5.to_parquet('end5.parquet')
df_endpoint6.to_parquet('end6.parquet')
df_reco.to_parquet('reco.parquet')